@model _3dPrinter.Domain.ViewModels.MyModel.MyModelViewModel
@{
    var title = Model?.Id != 0 ? "Edit Model" : "Add Model";
}
<div class="modal fade" id="addModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModelLabel">@title</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddEdit">
                    <input asp-for="Id" hidden/>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cost"></label>
                        <input asp-for="Cost" class="form-control"/>
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Filament"></label>
                        <select asp-for="FilamentId" class="form-control" asp-items="ViewBag.FilamentList"></select>
                        <span asp-validation-for="FilamentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Customer"></label>
                        <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerList"></select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeOfPrint">Time Of Print (hh:mm)</label>
                        <input asp-for="TimeOfPrint" type="time" class="form-control" />
                        @* <input type="time" step="1" asp-for="TimeOfPrint" class="form-control" /> *@
                        @* <input type="text"  asp-for="TimeOfPrint" class="form-control" /> *@
                        @* <input asp-for="TimeOfPrint" type="text" value="@string.Format("{0:dd\\:hh\\:mm}", Model.TimeOfPrint)" class="form-control"> *@
                        <span asp-validation-for="TimeOfPrint" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>